
@import url("themes/github.css");

/* Header */
/* ----------------------------------------- */
.topbar {
	background: #f5f6f8;
	border-bottom: 1px solid #ebedef;
	font-size: 12px;
}
header {
	border-bottom: 2px solid #d6d8db;
}

header h1 {
	font-size: 24px;
	margin-top: 22px;
}

.search {
	margin-top: 20px;
}

.breadcrumbs {
	border-top: 1px solid #e6e9eb;
	padding: 5px 0;
}

.easy-breadcrumb {
	color: #848994;
	font-size: 0.9em;
	;
}

.easy-breadcrumb_segment-separator {
	word-spacing: 4px;
	color: #9fa4af;
}

#ac-html, #ac-css {
	border-radius: 5px;
	background: #f5f6f8;
}

.autocomplete-suggestions {
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5); 
	background:#FFF; 
	cursor:default; 
	text-align:left; 
	max-height:350px; 
	overflow:auto;
}
.autocomplete-suggestion {
	padding-left: 10px;
}
.autocomplete-selected { background:#f5f6f8; }
.autocomplete-suggestions strong { font-weight:normal; color: #f05347; }


/* Menu */
/* ----------------------------------------- */

.topmenu {
	background: #f5f6f8;
	border-bottom: 1px solid #ebedef;
	padding: 10px 0;
}

.top-bar, .top-bar-section ul li, .top-bar-section a {
	background: none !important; 
}

.top-bar-section ul li a {
	line-height: 1 !important;
}

#system-main-menu a {
	color: #848994; 
}

#system-main-menu .block_content {
	margin-left: -15px;
}

#system-main-menu a.active {
	color: #f05347;
}

.top-bar {
	height: auto;
}

	
/* Page */
/* ----------------------------------------- */

.title {
	background: #f5f6f8;
	color: #3b4550;
	padding: 1.2em 0 1em;
	margin-bottom: 1em;
}

.title h1 {
	font-size: 30px;
}

.element-invisible {
	display: none;
}

.main-section, aside {
	margin-top: 1rem;
}

.view-header {
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.6rem;
	color: #666;
}

p {
	line-height: 1.4;
	margin-bottom: 1rem;
}

.fig {
	margin: 1.5em 0 0 !important;
	text-align: center;
}

.figsign {
	font: italic 1rem Georgia, Times, serif;
	text-align: center;	
	margin: 0.5rem 0 1.3rem !important;
}

.data {
	margin: auto auto 1rem;
}

.error404 {
	font-size: 10rem;
}

a.ext, a[href^="http://"], a[href^="https://"] {
  background: url(../img/blank.png) 100% 0 no-repeat;
  padding-right: 16px;
}

.copyright a[href^="http://"], footer a[href^="http://"] {
  background: none;
  padding-right: 0;
}

.credit {
	font-size: 0.9em;
	color: #333;
	background: #f8f8f8;
	border-radius: 3px;
	padding: 5px;
	border: 1px solid #ccc;
	margin-top: 1.5em;
	opacity: 0.5;
	transition: 1s;
	-webkit-transition: 1s;
}

.credit:hover {
	opacity: 1;
	transition: 1s;
	-webkit-transition: 1s;
}

.credit span {
	padding-left: 20px;
	margin-right: 20px;
}
.author, .revision {
	background: url(../img/user.png) no-repeat;
}

.changed {
	background: url(../img/date_edit.png) no-repeat;
}

#disqus_thread {
	margin-top: 2rem;
}


/* Block */
/* ----------------------------------------- */

h2.block_title {
	font-size: 15px;
	margin-top: 0;
	color: #494949;
	font-weight: bold;
	text-transform: uppercase;
}

aside .block {
	margin-bottom: 30px;
}

aside .block  ul {
	margin: 0;
	padding: 0;
	font-size: 14px;
}

aside .block  li {
	border-top: 1px solid #f4f4f4;
	list-style: none;
	color: #666;
	padding: 3px 0;
	position: relative;
}

aside .block  li:first-child {
	border-top: none;
}

aside .block  li::after {
	content: '>';
	font-family: Courier;
	color: #848994;
	position: absolute;
	right: 0;
	top:  3px;
	font-size: 13px;
}

aside .block a {
	display: block;
}

aside .block a.active, aside .block  a.active:hover {
	color: #b9b9b9;
	text-decoration: none;
}

aside .block a.active, aside .block a.active:hover {
	color: #b9b9b9;
	text-decoration: none;
}

#menu-menu-html .block_content,
#menu-menu-css .block_content  {
	overflow: auto;
	height: 291px;
}

#menu-menu-css-value .block_content {
	-webkit-column-count: 2;
	column-count: 2;
}

#menu-menu-html li::after, 
#menu-menu-css li::after,
#menu-menu-css-value li::after {
	content: none;
}

.active-trail.expanded ul {
	margin-left: 20px;
}


/* Tabs */
/*------------------------------------------ */

.tabs ul.tabs {
	margin-left: 0;
	padding-left: 0;
	padding-bottom: 1em;
}
.tabs ul.tabs li {
	display: inline-block;
	padding-left: 0;
	margin-right: 5px;
	background-image: none;
}
.tabs ul.tabs li a {
	background-color: #F5F5F5;
	border: 1px solid #C6C6C6;
	font-size: 11px;
	color: #444;
	display: block;
	padding: 5px 16px;
}
.tabs ul.tabs li.active a {
	background-color: #fff;
}
.tabs ul.tabs li a:active,
.tabs ul.tabs li a:focus {
	outline: none;
}
.tabs ul.secondary {
	margin-top: -14px;
}
.tabs ul.secondary li a {
	font-size: 12px;
	padding: 2px 12px ;
}
.tabs a::selection {
	background-color: #444;
	color: #fff;
}
.tabs a::-moz-selection {
	background-color: #444;
	color: #fff;
}

dl.tabs {
	border-bottom: 1px solid #ccc;
}

dd.active {
	border: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}

dl.tabs dd {
	position: relative;
	top: 1px;
}

.tabs-content {
	margin-bottom: 0;
}


/* Footer */
/* ----------------------------------------- */

footer {
	background: #282c30;
	color: #9fa4af;
	margin-top: 2em;
}

footer h4 {
	color: #fff;
}

.copyright {
	background: #181a1d;
	color: #9fa4af;
	padding-top: 20px;
}

.copyright p {
	font-size: 12px;
}

.copyright a {
	color: #9fa4af;
	text-decoration: underline;
}

.counter {
	text-align: right;
}


/* Book */
/* ----------------------------------------- */

.book-navigation {
	margin-top: 3rem !important;
	padding-top: 1rem;
	border-top: 2px solid #d6d8db;
}

.page-up {
	text-align: center;
}

.page-next {
	text-align: right;
}

.arrow {
	display: inline-block;
	margin: 0 7px 0 0;
	width: 16px;
	height: 16px;
	background-image: url(../img/arrow.png);
	vertical-align: middle;
	opacity: 0.5;
}

.icon-prev {
	background-position: 0;
} 

.icon-up {
	background-position: -32px 0;
}

.icon-next {
	background-position: -16px 0;
	margin-left: 7px;
}





.book {
	background: #F6F1DA;
	padding: 5px 20px;
	margin-bottom: 20px;
}


/* Highlight */
/* ----------------------------------------- */

code {
	background: none;
	border: none;
}

.standard td {
	text-align: center;
	background-image: none !important;
}

.standard td.h, .standard td.xh {
	text-align: left; 	
	background: #FAF3D2;
}

td.yes { background: #cee2d3 url(../img/icon_yes.png) no-repeat 50% 50%; height: 18px; }
td.no { background: #f2c8c8 url(../img/icon_no.png) no-repeat 50% 50%; height: 18px; }
td.warn { background: #f9e497 url(../img/icon_warn.png) no-repeat 50% 50%; height: 18px; }
td.x3 { background: url(../img/icon_x3.gif) 50% 50% no-repeat; }

table.browser {
	width: 100%;
}

.browser td {
	text-align: center;
}

.sp td.yes, .yes { background: #cee2d3; }
.sp td.no, .no { background: #f2c8c8; }
.sp td.warn, .warn, .x3 { background: #f9e497; }

.sp td.yes span { background: url(../img/icon_yes.png) no-repeat 0 50%; }
.sp td.no span { background: url(../img/icon_no.png) no-repeat 0 50%; }
.sp td.warn span { background: url(../img/icon_warn.png) no-repeat 0 50%; }
.sp td.x3 span { background: url(../img/icon_x3.gif) no-repeat 0 50%; }

.br td { background-color: #FAF3D2; }

.ie, .cr, .sa, .op, .fx, .an, .ip, .sp span { min-height: 16px; padding-left: 20px; }
.ie, .br .ie  { background: url(../img/browser_ie.png) no-repeat; }
.cr , .br .cr { background: url(../img/browser_cr.png) no-repeat; }
.sa, .br .sa  { background: url(../img/browser_sa.png) no-repeat; }
.op, .br .op  { background: url(../img/browser_op.png) no-repeat; }
.fx, .br .fx { background: url(../img/browser_fx.png) no-repeat; }
.an, .br .an { background: url(../img/browser_android.png) no-repeat; }
.ip, .br .ip { background: url(../img/browser_iphone.png) no-repeat; }

.sp span { padding-left: 16px; }
.sp .warn  span { padding-left: 18px; }

.browser th { padding: 3px; }

td.browser { background: #FAF3D2; }

.tag {
	color: #069;
}

.value, .function .params {
	color: #39892f;
	font-weight: normal;
}

.var {
  font: 1em "Courier New", Courier, mono;
}

.menuitem {
  background: #f8f6e3;
  padding: 0 2px;
}

.outset {
  background: #ddd;
  border: 2px outset #ddd;
  padding: 0 3px;
  color: #333;
  font-size: 0.92em;
}

.attribute, .css .rule .keyword {
	color: #b61039;
	font-weight: normal;
	border: none;
	background: none;
	white-space: nowrap;
}

pre .attribute, pre .css .rule .keyword {
	white-space: normal;
}

.term {
	border-bottom: 1px dotted red;
	font-style: italic;
	font-size: 1.1em;
	font-family: Times, serif;	
}

dl.param, dl.param2, .ref dl {
	margin: 0.5em 0 0.5em 0;
}

dl.param dt, dl.param2 dt {
	color: #b61039;
	float: left; 
	font-weight: normal;
}

dl.param dd, dl.param2 dd {
	margin: 0.4em 0 0.5em 6.5em;
}

dl.param2 dt, .ref dt { color: #39892f; }

.syntax { 
	width: 93%;
	background: #f5f6f8;
	border-collapse: collapse;
}

.syntax td.html, .syntax td.xhtml {
	width: 60px;
	background: ##f5f6f8;
	padding: 7px;
}

.syntax td {
	border: 2px solid #fff;
	vertical-align: top;
}

.syntax pre {
	margin: 0;
	padding: 0;
}

.syntax pre code {
  min-width: 500px;
  padding: 5px;
}


/* Taxonomy */
/* ----------------------------------------- */

.docs {
	overflow: hidden;
	margin-bottom: 1.5rem;
}

.docs_img {
	float: left;
	margin: 7px 10px 0 0;
}

.docs_img img { display: block; }

.docs_teaser, .docs_title {
	margin: 0 0 0 130px;
}


/* HTML */
/* ----------------------------------------- */

.css-col, .html-col {
	-webkit-column-count: 4;
	-webkit-column-width: 120px;
	column-count: 4;
	column-width: 120px;
	margin-left: 0 !important;
}

.t.html5 {
	border: 1px solid #8ab643;
	background: #c9e39c;
	font-size: 0.6rem;
	vertical-align: middle;
}

.field-name-field-html-cat,
.field-name-field-css-cat {
	margin-bottom: 30px;
}

.field-name-field-html-cat .field-item,
.field-name-field-css-cat .field-item {
	margin: 10px 0 10px;
	font-size: 0.92em;
	display: inline-block;
	background: url(../img/tag.png) no-repeat 0 2px;
	padding-left: 24px;
	margin-right: 20px;
}

.cat_icon, .cat_title {
	display: inline-block;
}

.cat_icon {
	display: inline-block;
	margin-right: 5px;
}


/* CSS */
/* ----------------------------------------- */

table.cssver {
	width: 300px;
}

.cssver td, .cssver th {
	text-align: center;
}

.cssver th {
	background: #FAF3D2;
	font-weight: normal;
}


.spec_no, .spec_yes, .spec_x3 { height: 18px; }
.spec_no { background: url(../img/icon_no2.png) 50% 50% no-repeat; }
.spec_yes { background: url(../img/icon_yes2.png) 50% 50% no-repeat; }
.spec_x3 { background: url(../img/icon_x3.gif) 50% 50% no-repeat; }

.spec-CR:before,
.spec-Draft:before,
.spec-ED:before,
.spec-Living:before,
.spec-PR:before,
.spec-REC:before,
.spec-RFC:before,
.spec-Standard:before,
.spec-WD:before{
	font:.7em Helvetica,Arial,sans-serif;
	font-weight:700;
	min-width:20px;
	border-radius:2px;
	letter-spacing:1px;
	margin:.2em .6em 0 0;
	padding:.45em .35em .35em
}

.spec-CR:before {
content: 'CR';
	background-color: #bfe5e3;
	background-color: rgba(0,151,142,.25);
	border-left: 4px solid #00978e;
	color: #00978e;
}

.spec-REC:before {
	content: 'REC';
	background-color: #cbe6cf;
	background-color: rgba(48,156,64,.25);
	border-left: 4px solid #309c40;
	color: #309c40;
}

.spec-ED:before {
	content:'ED';
	background-color:#f9c5c5;
	background-color:rgba(230,25,25,.25);
	border-left:4px solid #e61919;
	color:#e61919;
}

.spec-WD:before {
	content:'WD';
	background-color:#f9dbcc;
	background-color:rgba(230,110,51,.25);
	border-left:4px solid #e66e33;
	color:#e66e33;
}

.spec-PR:before {
	content:'PR';
	background-color:#dceacc;
	background-color:rgba(114,172,53,.25);
	border-left:4px solid #72ac35;
	color:#72ac35;
}

.spec-Living:before {
	content:'LS';
	background-color:#bfd4e7;
	background-color:rgba(0,83,159,.25);
	border-left:4px solid #00539f;
	color:#00539f;
}

.spec-RFC:before {
	content:'RFC';
	background-color:#bfd4e7;
	background-color:rgba(0,83,159,.25);
	border-left:4px solid #00539f;
	color:#00539f;
}

.spec-Standard:before {
	content:'ST';
	background-color:#bfd4e7;
	background-color:rgba(0,83,159,.25);
	border-left:4px solid #00539f;
	color:#00539f;
}

.spec-Draft:before { 
	content:'D';
	background-color:#f9dbcc;
	background-color:rgba(230,110,51,.25);
	border-left:4px solid #e66e33;
	color:#e66e33;
	}

.spec-ED{color:#e61919}
.spec-WD{color:#e66e33}
.spec-CR{color:#00978e}
.spec-PR{color:#72ac35}
.spec-REC,.spec-RFC{color:#309c40}
.spec-Living,.spec-Standard{color:#00539f}
.spec-Draft{color:#e66e33}
